h1 {
    color:pink;
}

h2 {
    color:#ff3b00;
}

table,th,td {
    border-collapse: collapse;
    border: 2px solid pink;
    background-color:antiquewhite
}

table th, table td {
    padding: 5px;
    color:peru;
}