<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>Person List</h1>
<a th:href="@{/addBook}">Add Book</a>
<br/><br/>
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Author</td>
            <td>Price($)</td>
        </tr>
        <tr th:each="book : ${books}">
            <td><a th:href="@{/bookDetail(id=${book.id})}" th:text="${book.id}"></a></td>
            <td th:text="${book.title}">...</td>
            <td th:text="${book.author}">...</td>
            <td th:text="${book.price}">...</td>
            <!--            <td>-->
            <!--                <span th:if="${book.price} == 'M'" th:text="Male" />-->
            <!--                <span th:unless="${book.price} == 'M'" th:text="Female" />-->
            <!--            </td>-->

        </tr>
    </table>
</div>
</body>
</html>