<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h3>Enter your email and password</h3>
<form th:action="@{/login_backend}"
      th:object="${loginForm}" method="POST">
    Email:
    <input type="text" name="email" th:field="*{email}"/>
    <br/>
    Password:
    <input type="text" name="password" th:field="*{password}"/>
    <br/>
    Remember me?
    <input type="checkbox" name="remember_me">
    <br>

    <input type="submit" value="Login"/>
</form>
</body>
</html>