<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/register_backend}"
      th:object="${registerForm}" method="POST">
    Phone number:
    <input type="text" th:field="*{phoneNumber}"/>
    <br/>
    Password:
    <input type="text" th:field="*{password}"/>
    <br/>
    Email:
    <input type="text" th:field="*{email}"/>
    <br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>